/* https://jackyjwu.gitlab.io/seng513-website/index.html */

/* Background Color */
body {
    background-color: #990011;
    margin: 0px;
}

/* Flames logo */
img {
    max-width: 100%;
    height: auto;
}

/* Player Portraits */ 
.portraits {
    width:100px;

}

/* Flames Font */
@font-face{
    font-family: Flames;
    src: url("./assets/font/Flames.ttf") format("truetype");
}

/* Header */
header {
    padding: 30px;
    text-align: center;
    position: relative;
    background-color: #C8102E;
}

header h1 {
    font-family: Flames;
    display: inline;
    bottom: 0;
    left: 20px;;
    position: absolute;
    color: #F3BD52;
    font-size: 60px;
    margin: 18px;
}

header img {
    width: 200px;
}

/* Navbar */
.navbar {
    width:100%;
    background-color: #F3BD52;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    height: 50px;
    display: flex;
}

.navbar a {
    font-size: 40px;
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    color: black;
}

.navbar div{
    margin: auto;
    width: 668px;
}

.navbar a:hover {
    background-color: #FFFFFF;
    color: #F3BD52;
}

/* Center Box */
.center {
    margin: auto;
    width: 70%;
    background-color: #ECECEC;
    padding: 10px;
    height: 100%;
    text-align: center;
  }

/* Cards */ 
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

.parent .title{
    margin-bottom: 100px;
}

.box {
    box-shadow: 1px 1px 2px #616161, 0 0 25px #616161, 0 0 5px #616161;
    flex: 0 1 150px;
    margin: 5px;
    border-radius: 5px;
    margin: 15px;
  }

.card {
    background-color: white;
    width: clamp(23ch,190%, 46ch);
    display: flex;
    flex-direction: column;
    padding: 0 5rem 0 5rem;
    text-align: center;
    
}
.visual {
    background-color: yellow;
    height: 200px;
    
    width: 100%;
}

/* table */
table, th, td {
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
}

th{
    width: 50%;
}
td{
    height: 5rem;
}
td img{
    height: 100px;
}
